<p>Oi meu chapa {{ name }}</p>

<button (click)="submit($event)">clique</button>

@if(deveMostrarTitulo){
    <h1>Meu Título</h1>
} @else if (name == "Maruka") {
    <h1>Meu Título para Maruka</h1>
}
@else {
    <h1>Não foi verdadeiro</h1>
}

<!-- para versões anteriores como 12/13 
 
    <h1 *ngIf="deveMostrarTitulo">Meu Título</h1>

    e no home.components.ts importar o CommonModule:
    @Component({
        selector: 'app-home',
        standalone: true,
         imports: [CommonModule],
        templateUrl: './home.component.html',
        styleUrl: './home.component.css'
    })

-->